/* PC + 모바일 공통 폰트 설정 */
formatted-string.sidebar-header-text {
  font-family: 'GmarketSansMedium';
  font-size: 2rem; /* 기본 크기 줄임 */
  color: white;
}

/* 모바일에서 더 작게 */
@media screen and (max-width: 768px) {
  formatted-string.sidebar-header-text {
    font-size: 1.5rem;  /* 모바일 전용 폰트 더 작게 */
  }
}